<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./CSS/style.css">
    <title> <%= title %>   </title>
</head>
<body>
    
    <!-- ******The pOST request of our form will be /create-todo***********  
        -- thus importing this in our router -->
    
    <main> 

    
    <form action="/create-todo" method="POST">
    <!-- component -->
        <section class="flex justify-center px-4 text-gray-100 bg-gray-800">
            <div class="container py-6">
                <h1 class="text-center text-lg font-bold lg:text-2xl">
                    A TODO Application
                </h1>

                <div class="flex justify-center mt-6">
                    <div class="bg-white rounded-lg">
                        <div class="flex flex-wrap justify-between md:flex-row">
                            <input type="text" class="m-1 p-2 appearance-none text-gray-700 text-sm focus:outline-none"  placeholder="Enter your Task">
                            <button class="w-full m-1 p-2 text-sm bg-gray-800 rounded-lg font-semibold uppercase lg:w-auto">submit</button>
                        </div>
                    </div>
                </div>



                
            </div>
        </section>

       

            
                

        <!-- **********Table Section ********************************************* -->



        <!-- component -->
        <table class="border-collapse w-full">
            <thead>
                <tr>
                    <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell" name="task"  >Task</th>
                    <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell" name="dueDate"  >Due Date At</th>
                    <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell" name="category"  >Category</th>
                    <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Actions</th>
                </tr>
            </thead>
            <tbody>

                        
                <% for (let i of todo_list){%>


                <!-- ****************1st row ********************************** -->
                <tr class="bg-white lg:hover:bg-gray-100 flex lg:table-row flex-row lg:flex-row flex-wrap lg:flex-no-wrap mb-10 lg:mb-0">
                        <td class="font-bold  text-blue-700 w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static" contentEditable="true">
                           
                            <%=i.task%>
                        </td>
                        <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b text-center block lg:table-cell relative lg:static">
                            
                            <input type="date" name="date" value="2020-07-22"  min="2020-01-01" max="2023-12-31" 
                            <%=i.date.toDateString
                            %>
                        </td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b text-center block lg:table-cell relative lg:static">
                            <select class="rounded bg-red-400 py-2 px-4 text-xs font-bold" <%=i.category%> >
                                <option value="">School</option>
                                <option value="">Work</option>
                                <option value="">Gym</option>
                                <option value="">Entertainment</option>

                            </select> 
                    </td>
                    <td class=" w-full lg:w-auto p-3 text-gray-800 text-center border border-b text-center block lg:table-cell relative lg:static">
                           
                            <a href="#" class="text-blue-400 hover:text-blue-600 underline">Edit</a>
                            <a href="#" class="text-blue-400 hover:text-blue-600 underline pl-6">Delete</a>
                            <a href="#" class="text-blue-400 hover:text-blue-600 underline pl-6">Done</a>
                    </td>
                </tr>
                <%}%>
            </tbody>
        </table>


</form>

</main>














    





</body>
</html>